// Styling hero image section
#hero {
    position: relative;
    overflow: hidden;
    height: 35vh;
    width: 100%;
    img {
        width: 100%;
        height: 100%;
    }
}

// Styling Text under hero image
#headertext {
    display: flex;
    justify-content: space-around;
    margin-top: 3vh;
    margin-bottom: 3vh;
}

// Styling Input in the footer
#footercon {
    display: flex;
    justify-content: center;
    p {
        margin-right: 3vh;
    }
    input {
        width: 34vh;
        margin-right: 3vh;
    }
}

#footer {
    margin-top: 3vh;
}

// Styling the div elements which contain the cards
#hello {
    margin-left: 0;
    display: flex;
    justify-content: center;
}